<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Asim Shrestha. It uses data from mapbox and darksky.net!</p>
        <img class="protrait" src="/img/person.jpg" />
    </div>

    {{>footer}}
</body>

</html>